.preloaderProfile {
    width: 100px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.profileSetting {
    margin: 0 auto;
    padding: 25px;
    width: 400px;
    background-color: white;
    border-radius: 25px;
}

.profileSetting .formArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileSetting .formArea .inputContainer {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileSetting .formArea .inputContainer .text {
    height: 15px;
    width: 70%;
    margin-top: 5px;
    padding: 8px 0 8px 10px;
    border: 1px solid #9b9e9c;
    border-radius: 10px;
    resize: none;
    outline: none;
    -moz-appearance: none;
}

.profileSetting .formArea .inputContainer label {

}

.profileSetting .formArea .inputContainer .error {
    border-color: red;
}

.profileSetting .formArea .textareaContainer {
    width: 100%;
    margin-top: 15px;
}

.profileSetting .formArea .textareaContainer .textarea {
    width: 100%;
    margin-top: 5px;
    padding: 8px 0 8px 10px;
    border: 1px solid #9b9e9c;
    border-radius: 10px;
    height: 45px;
    resize: none;
    outline: none;
    -moz-appearance: none;
}

.profileSetting .formArea .apiErrors {

}

.profileSetting .formArea .apiErrors p {
    color: darkred;
}

.profileSetting .formArea .buttonContainer button {
    margin-top: 15px;
    width: 100px;
    padding: 5px;
    display: block;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: #1c3faa;
    font-size: 16px;
    transition: background-color .2s;
}

.profileSetting .formArea .buttonContainer .normal {
    background-color: #1c3faa;
    color: white;
}

.profileSetting .formArea .buttonContainer .normal:hover {
    background-color: #295af0;
    color: white;
}

.profileSetting .formArea .buttonContainer .error {
    background-color: #9b9e9c;
    color: #404040;
}

