.preloaderProfile img {
    display: flex;
    width: 100px;
    position: unset;
    left: 0;
    top: 0;
    transform: translate(0, 0);
}

.avatar {
    display: flex;
    position: relative;
}

.avatar .optionsAvatar {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 35px;
    cursor: pointer;
    transition: filter .3s;
    filter: brightness(.7);
}

.avatar .optionsAvatar:hover {
    filter: brightness(1) saturate(3);
    transition: filter .3s;
}

.avatar .optionsAvatar label {
    cursor: pointer;
}

.avatar .optionsAvatar label img {
    width: 35px;
    height: 35px;
}

.avatar .optionsAvatar input {
    display: none;
}

.avatar img {
    height: 150px;
}

.avatar .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
}

.avatar .userInfo .name {

}

.avatar .userInfo .aboutMe {

}

.avatar .userInfo .status {

}

.avatar .userInfo .vkontakte {

}